<div class="sudoku-container">
  <div class="lf">
    <img id="leftArrow" src="./images/leftArrow.png" width="80%" alt="<">
  </div>
  <div class="rt">
    {{new-puzz sud=sud}}
  </div>
  
  <div class="r0 thick-h">
  </div>
  <div class="r1 thick-h">
  </div>
  <div class="r2 thick-h">
  </div>
  <div class="r3 thick-h">
  </div>

  <div class="v1 thick-v">
  </div>
  <div class="v2 thick-v">
  </div>
  <div class="v3 thick-v">
  </div>
  <div class="v4 thick-v">
  </div>
  <div class="v5 thick-v">
  </div>
  <div class="v6 thick-v">
  </div>
  <div class="v7 thick-v">
  </div>
  <div class="v8 thick-v">
  </div>
  <div class="v9 thick-v">
  </div>
  <div class="v10 thick-v">
  </div>
  <div class="v11 thick-v">
  </div>
  <div class="v12 thick-v">
  </div>

  <div class="a1 sq">
    {{puzzval-in cellId="a1" sud=sud}}
  </div>
  <div class="b1 sq">
    {{puzzval-in cellId="b1" sud=sud}}
  </div>
  <div class="c1 sq">
    {{puzzval-in cellId="c1" sud=sud}}
  </div>
  <div class="d1 sq">
    {{puzzval-in cellId="d1" sud=sud}}
  </div>
  <div class="e1 sq">
    {{puzzval-in cellId="e1" sud=sud}}
  </div>
  <div class="f1 sq">
    {{puzzval-in cellId="f1" sud=sud}}
  </div>
  <div class="g1 sq">
    {{puzzval-in cellId="g1" sud=sud}}
  </div>
  <div class="h1 sq">
    {{puzzval-in cellId="h1" sud=sud}}
  </div>
  <div class="i1 sq">
    {{puzzval-in cellId="i1" sud=sud}}
  </div>

  <div class="a2 sq">
    {{puzzval-in cellId="a2" sud=sud}}
  </div>
  <div class="b2 sq">
    {{puzzval-in cellId="b2" sud=sud}}
  </div>
  <div class="c2 sq">
    {{puzzval-in cellId="c2" sud=sud}}
  </div>
  <div class="d2 sq">
    {{puzzval-in cellId="d2" sud=sud}}
  </div>
  <div class="e2 sq">
    {{puzzval-in cellId="e2" sud=sud}}
  </div>
  <div class="f2 sq">
    {{puzzval-in cellId="f2" sud=sud}}
  </div>
  <div class="g2 sq">
    {{puzzval-in cellId="g2" sud=sud}}
  </div>
  <div class="h2 sq">
    {{puzzval-in cellId="h2" sud=sud}}
  </div>
  <div class="i2 sq">
    {{puzzval-in cellId="i2" sud=sud}}
  </div>

  <div class="a3 sq">
    {{puzzval-in cellId="a3" sud=sud}}
  </div>
  <div class="b3 sq">
    {{puzzval-in cellId="b3" sud=sud}}
  </div>
  <div class="c3 sq">
    {{puzzval-in cellId="c3" sud=sud}}
  </div>
  <div class="d3 sq">
    {{puzzval-in cellId="d3" sud=sud}}
  </div>
  <div class="e3 sq">
    {{puzzval-in cellId="e3" sud=sud}}
  </div>
  <div class="f3 sq">
    {{puzzval-in cellId="f3" sud=sud}}
  </div>
  <div class="g3 sq">
    {{puzzval-in cellId="g3" sud=sud}}
  </div>
  <div class="h3 sq">
    {{puzzval-in cellId="h3" sud=sud}}
  </div>
  <div class="i3 sq">
    {{puzzval-in cellId="i3" sud=sud}}
  </div>

  <div class="a4 sq">
    {{puzzval-in cellId="a4" sud=sud}}
  </div>
  <div class="b4 sq">
    {{puzzval-in cellId="b4" sud=sud}}
  </div>
  <div class="c4 sq">
    {{puzzval-in cellId="c4" sud=sud}}
  </div>
  <div class="d4 sq">
    {{puzzval-in cellId="d4" sud=sud}}
  </div>
  <div class="e4 sq">
    {{puzzval-in cellId="e4" sud=sud}}
  </div>
  <div class="f4 sq">
    {{puzzval-in cellId="f4" sud=sud}}
  </div>
  <div class="g4 sq">
    {{puzzval-in cellId="g4" sud=sud}}
  </div>
  <div class="h4 sq">
    {{puzzval-in cellId="h4" sud=sud}}
  </div>
  <div class="i4 sq">
    {{puzzval-in cellId="i4" sud=sud}}
  </div>

  <div class="a5 sq">
    {{puzzval-in cellId="a5" sud=sud}}
  </div>
  <div class="b5 sq">
    {{puzzval-in cellId="b5" sud=sud}}
  </div>
  <div class="c5 sq">
    {{puzzval-in cellId="c5" sud=sud}}
  </div>
  <div class="d5 sq">
    {{puzzval-in cellId="d5" sud=sud}}
  </div>
  <div class="e5 sq">
    {{puzzval-in cellId="e5" sud=sud}}
  </div>
  <div class="f5 sq">
    {{puzzval-in cellId="f5" sud=sud}}
  </div>
  <div class="g5 sq">
    {{puzzval-in cellId="g5" sud=sud}}
  </div>
  <div class="h5 sq">
    {{puzzval-in cellId="h5" sud=sud}}
  </div>
  <div class="i5 sq">
    {{puzzval-in cellId="i5" sud=sud}}
  </div>

  <div class="a6 sq">
    {{puzzval-in cellId="a6" sud=sud}}
  </div>
  <div class="b6 sq">
    {{puzzval-in cellId="b6" sud=sud}}
  </div>
  <div class="c6 sq">
    {{puzzval-in cellId="c6" sud=sud}}
  </div>
  <div class="d6 sq">
    {{puzzval-in cellId="d6" sud=sud}}
  </div>
  <div class="e6 sq">
    {{puzzval-in cellId="e6" sud=sud}}
  </div>
  <div class="f6 sq">
    {{puzzval-in cellId="f6" sud=sud}}
  </div>
  <div class="g6 sq">
    {{puzzval-in cellId="g6" sud=sud}}
  </div>
  <div class="h6 sq">
    {{puzzval-in cellId="h6" sud=sud}}
  </div>
  <div class="i6 sq">
    {{puzzval-in cellId="i6" sud=sud}}
  </div>

  <div class="a7 sq">
    {{puzzval-in cellId="a7" sud=sud}}
  </div>
  <div class="b7 sq">
    {{puzzval-in cellId="b7" sud=sud}}
  </div>
  <div class="c7 sq">
    {{puzzval-in cellId="c7" sud=sud}}
  </div>
  <div class="d7 sq">
    {{puzzval-in cellId="d7" sud=sud}}
  </div>
  <div class="e7 sq">
    {{puzzval-in cellId="e7" sud=sud}}
  </div>
  <div class="f7 sq">
    {{puzzval-in cellId="f7" sud=sud}}
  </div>
  <div class="g7 sq">
    {{puzzval-in cellId="g7" sud=sud}}
  </div>
  <div class="h7 sq">
    {{puzzval-in cellId="h7" sud=sud}}
  </div>
  <div class="i7 sq">
    {{puzzval-in cellId="i7" sud=sud}}
  </div>

  <div class="a8 sq">
    {{puzzval-in cellId="a8" sud=sud}}
  </div>
  <div class="b8 sq">
    {{puzzval-in cellId="b8" sud=sud}}
  </div>
  <div class="c8 sq">
    {{puzzval-in cellId="c8" sud=sud}}
  </div>
  <div class="d8 sq">
    {{puzzval-in cellId="d8" sud=sud}}
  </div>
  <div class="e8 sq">
    {{puzzval-in cellId="e8" sud=sud}}
  </div>
  <div class="f8 sq">
    {{puzzval-in cellId="f8" sud=sud}}
  </div>
  <div class="g8 sq">
    {{puzzval-in cellId="g8" sud=sud}}
  </div>
  <div class="h8 sq">
    {{puzzval-in cellId="h8" sud=sud}}
  </div>
  <div class="i8 sq">
    {{puzzval-in cellId="i8" sud=sud}}
  </div>

  <div class="a9 sq">
    {{puzzval-in cellId="a9" sud=sud}}
  </div>
  <div class="b9 sq">
    {{puzzval-in cellId="b9" sud=sud}}
  </div>
  <div class="c9 sq">
    {{puzzval-in cellId="c9" sud=sud}}
  </div>
  <div class="d9 sq">
    {{puzzval-in cellId="d9" sud=sud}}
  </div>
  <div class="e9 sq">
    {{puzzval-in cellId="e9" sud=sud}}
  </div>
  <div class="f9 sq">
    {{puzzval-in cellId="f9" sud=sud}}
  </div>
  <div class="g9 sq">
    {{puzzval-in cellId="g9" sud=sud}}
  </div>
  <div class="h9 sq">
    {{puzzval-in cellId="h9" sud=sud}}
  </div>
  <div class="i9 sq">
    {{puzzval-in cellId="i9" sud=sud}}
  </div>
</div>

